Pandas library manipulasi data, eksplorasi data,  integrasi dengan tools lain Matplotlib seaborn , membaca dan menulis data csv, excel, sql, json

In [1]:
import pandas as pd 

print(pd.__version__)

2.3.3

Struktur data pandas 

Series adaah struktur data satu dimensi yang mirip dengan array pada Numpy atau list pada python setiap elamen dalam series memiliki label indeks, yang memungkinkan akses data dengan cara yang lebih fleksibel.

In [ ]:
data = [10,20,30,40,50]

series1 = pd.Series(data, index=["a","b","c","d","e"], name='abcde')

series1

a    10
b    20
c    30
d    40
e    50
Name: absde, dtype: int64

DataFrame 

struktur data dua dimensi yang menyerupai tabel dengan baris dan kolom memungkinkan penyimpanan data heterogen ( beragam tipe data dalam kolom berbeda).

In [11]:
df = pd.DataFrame([[1,2],[3,4],[5,6]], columns=['A','B'], index = ['a','b','c'])
df

   A  B
a  1  2
b  3  4
c  5  6

In [17]:
data = {'A':[1,2,3], 'B':[4,5,6]}

df1 = pd.DataFrame(data)
df1

   A  B
0  1  4
1  2  5
2  3  6

Display 

menampilkan data secara visual yang lebih terformat dan mudah di bacca, fungsi ini  di gunakan untuk menampilkan output seperti DataFrame , gambar , atau element HTML dalam lingkungan interaktif seperti jupyter notebook

In [19]:
df1 = pd.DataFrame([[1,2],[3,4],[5,6]], columns=['A','B'], index = ['a','b','c'])
data = {'A':[1,2,3], 'B':[4,5,6]}
df2 = pd.DataFrame(data)
display(df1)
display(df2)

   A  B
a  1  2
b  3  4
c  5  6

   A  B
0  1  4
1  2  5
2  3  6

Membuat dataframe dari files


csv dengan sintaks df=pd.read_csv('data.csv')
excel dengan sintaks df=pd.read_excel('data.xlsx')
text dengan sintaks df=pd.read_csv('data.txt', sep='')
json dengan sintaks df=pd.read_csv('data.json')

In [ ]:
df_excel = pd.read_excel('data.xlsx')