Pandas library manipulasi data, eksplorasi data,  integrasi dengan tools lain Matplotlib seaborn , membaca dan menulis data csv, excel, sql, json

In [29]:
import pandas as pd 

print(pd.__version__)

2.3.3

Struktur data pandas 

Series adaah struktur data satu dimensi yang mirip dengan array pada Numpy atau list pada python setiap elamen dalam series memiliki label indeks, yang memungkinkan akses data dengan cara yang lebih fleksibel.

In [30]:
data = [10,20,30,40,50]

series1 = pd.Series(data, index=["a","b","c","d","e"], name='abcde')

series1

a    10
b    20
c    30
d    40
e    50
Name: abcde, dtype: int64

DataFrame 

struktur data dua dimensi yang menyerupai tabel dengan baris dan kolom memungkinkan penyimpanan data heterogen ( beragam tipe data dalam kolom berbeda).

In [31]:
df = pd.DataFrame([[1,2],[3,4],[5,6]], columns=['A','B'], index = ['a','b','c'])
df

   A  B
a  1  2
b  3  4
c  5  6

In [32]:
data = {'A':[1,2,3], 'B':[4,5,6]}

df1 = pd.DataFrame(data)
df1

   A  B
0  1  4
1  2  5
2  3  6

Display 

menampilkan data secara visual yang lebih terformat dan mudah di bacca, fungsi ini  di gunakan untuk menampilkan output seperti DataFrame , gambar , atau element HTML dalam lingkungan interaktif seperti jupyter notebook

In [33]:
df1 = pd.DataFrame([[1,2],[3,4],[5,6]], columns=['A','B'], index = ['a','b','c'])
data = {'A':[1,2,3], 'B':[4,5,6]}
df2 = pd.DataFrame(data)
display(df1)
display(df2)

   A  B
a  1  2
b  3  4
c  5  6

   A  B
0  1  4
1  2  5
2  3  6

Membuat dataframe dari files


csv dengan sintaks df=pd.read_csv('data.csv')
excel dengan sintaks df=pd.read_excel('data.xlsx')
text dengan sintaks df=pd.read_csv('data.txt', sep='')
json dengan sintaks df=pd.read_csv('data.json')

In [34]:
df_excel = pd.read_excel('data.xlsx')

FileNotFoundError: [Errno 2] No such file or directory: 'data.xlsx'

# Rundown Materi Pandas yang akan dipelajari:
 1. Pengenalan Pandas & Instalasi
 2. Struktur Data Dasar:
    - Series (1D)
    - DataFrame (2D)
 3. Membuat DataFrame/Series dari berbagai sumber (list, dict, file)
 4. Indexing, Slicing, & Selecting Data
 5. Manipulasi Data:
    - Menambah, menghapus, mengganti kolom/baris
    - Mengurutkan dan memfilter data
 6. Handling Missing Values (data kosong/null)
 7. Operasi Statistik Dasar (mean, sum, dst)
 8. Bekerja dengan data eksternal:
    - Membaca dan menulis dari/ke CSV, Excel, JSON
 9. Grouping & Aggregation (groupby)
 10. Join/Merge antar DataFrame
 11. Visualisasi sederhana (jika sempat)
 12. Studi kasus mini: Analisis data sederhana dengan Pandas
 
 Jika ada usulan tambahan materi, silakan tulis di bawah ini!

In [36]:
df_excel = pd.read_excel(r'C:\Users\Kuneko\Downloads\Documents\Electronic_Product.xlsx')
display(df_excel)

,Product Name,Brand,Model,Release Year,Size (in),RAM (GB),Storage (GB),Battery Capacity (mAh),Camera (MP),OS,Price (USD),Stock
0,iPhone 14,Apple,A2882,2023,6.10,6,128,3279,12,iOS,999,10
1,Samsung Galaxy S22,Samsung,SM-S901E,2022,6.10,8,256,3700,50,Android,799,15
2,Google Pixel 7,Google,GA03145-US,2023,6.30,8,128,4355,50,Android,599,20
3,OnePlus 11,OnePlus,CPH2419,2023,6.70,12,256,5000,50,Android,749,5
4,Xiaomi Mi 12,Xiaomi,2203129G,2022,6.28,12,256,4600,50,Android,649,25
5,Oppo Find X5,Oppo,CPH2307,2022,6.55,12,256,4500,50,Android,799,30
6,Vivo X80,Vivo,V2145,2023,6.78,12,256,4700,50,Android,799,20
7,Sony Xperia 5 IV,Sony,XQ-CQ54,2022,6.10,8,128,4500,12,Android,899,10
8,Huawei P50 Pro,Huawei,JAD-LX9,2022,6.60,8,256,4360,50,HarmonyOS,999,8
9,Realme GT 3,Realme,RMX3475,2023,6.74,16,256,4600,50,Android,649,25
10,Asus ROG Phone 6,Asus,AI2201,2022,6.78,12,512,6000,64,Android,999,9
11,Motorola Edge 30,Motorola,XT2233-2,2022,6.50,8,128,4020,50,Android,599,18
12,Nokia G60,Nokia,TA-1479,2023,6.58,6,128,4500,48,Android,299,30
13,ZTE Axon 40 Ultra,ZTE,A2023G,2022,6.80,12,512,5000,64,Android,899,12
14,Honor Magic 4 Pro,Honor,FNE-NX9,2022,6.81,8,256,4600,50,Android,799,7
15,Lenovo Legion Duel 2,Lenovo,L79031,2021,6.65,16,256,5000,64,Android,899,10
16,Black Shark 5,Black Shark,KTU-KL12,2022,6.68,12,128,4650,50,Android,499,25
17,Redmi Note 12,Redmi,22041219,2023,6.67,8,128,5000,48,Android,199,30
18,Infinix Zero Ultra,Infinix,X6811,2022,6.80,8,256,4500,200,Android,399,30
19,Poco F4 GT,Poco,21121210,2022,6.67,12,256,4700,64,Android,799,12

In [ ]:
df_csv = pd.read_csv(r'C:\Users\Kuneko\Downloads\Documents\katalog_gempa.csv')
df_csv

,Tanggal,Waktu,Magnitudo,Kedalaman (km),Lintang,Bujur,Wilayah
0,2025-10-10,14:23:12,5.2,10,-6.52,105.31,Banten
1,2025-10-09,03:45:22,4.8,15,-2.33,140.85,Papua
2,2025-10-08,22:11:45,3.9,5,-8.34,116.45,Lombok
3,2025-10-07,10:55:33,5.5,25,-0.92,98.65,Mentawai
4,2025-10-06,02:30:19,4.3,12,3.58,126.78,Maluku Utara
5,2025-10-05,18:09:47,6.1,45,-9.78,120.43,Sumba
6,2025-10-04,04:22:10,4.9,30,1.22,121.45,Sulawesi Tengah
7,2025-10-03,13:18:55,5.0,22,-7.45,107.65,Jawa Barat
8,2025-10-02,06:42:33,3.7,8,-7.80,110.37,Yogyakarta
9,2025-10-01,09:55:12,4.2,15,2.11,128.45,Ambon
10,2025-09-30,23:40:08,5.4,33,-5.23,102.12,Bengkulu
11,2025-09-29,01:15:54,3.8,6,-8.12,115.09,Bali
12,2025-09-28,16:22:44,4.5,20,0.55,127.38,Ternate
13,2025-09-27,07:31:18,5.6,38,-6.90,106.12,Sukabumi
14,2025-09-26,20:10:05,4.7,12,-2.89,119.45,Toraja
15,2025-09-25,11:59:50,5.1,25,-4.12,138.33,Papua Pegunungan
16,2025-09-24,02:15:21,4.6,10,-7.22,112.73,Surabaya
17,2025-09-23,05:44:39,3.5,7,-6.17,106.83,Jakarta
18,2025-09-22,21:02:09,5.8,40,-3.33,100.11,Sumatera Barat
19,2025-09-21,12:10:31,4.1,18,-1.55,120.12,Poso

In [41]:
df_json = pd.read_json(r'C:\Users\Kuneko\Downloads\Documents\katalog_gempa.json')
df_json

,Tanggal,Waktu,Magnitudo,Kedalaman (km),Lintang,Bujur,Wilayah
0,2025-10-10,14:23:12,5.2,10,-6.52,105.31,Banten
1,2025-10-09,03:45:22,4.8,15,-2.33,140.85,Papua
2,2025-10-08,22:11:45,3.9,5,-8.34,116.45,Lombok
3,2025-10-07,10:55:33,5.5,25,-0.92,98.65,Mentawai
4,2025-10-06,02:30:19,4.3,12,3.58,126.78,Maluku Utara
5,2025-10-05,18:09:47,6.1,45,-9.78,120.43,Sumba
6,2025-10-04,04:22:10,4.9,30,1.22,121.45,Sulawesi Tengah
7,2025-10-03,13:18:55,5.0,22,-7.45,107.65,Jawa Barat
8,2025-10-02,06:42:33,3.7,8,-7.80,110.37,Yogyakarta
9,2025-10-01,09:55:12,4.2,15,2.11,128.45,Ambon
10,2025-09-30,23:40:08,5.4,33,-5.23,102.12,Bengkulu
11,2025-09-29,01:15:54,3.8,6,-8.12,115.09,Bali
12,2025-09-28,16:22:44,4.5,20,0.55,127.38,Ternate
13,2025-09-27,07:31:18,5.6,38,-6.90,106.12,Sukabumi
14,2025-09-26,20:10:05,4.7,12,-2.89,119.45,Toraja
15,2025-09-25,11:59:50,5.1,25,-4.12,138.33,Papua Pegunungan
16,2025-09-24,02:15:21,4.6,10,-7.22,112.73,Surabaya
17,2025-09-23,05:44:39,3.5,7,-6.17,106.83,Jakarta
18,2025-09-22,21:02:09,5.8,40,-3.33,100.11,Sumatera Barat
19,2025-09-21,12:10:31,4.1,18,-1.55,120.12,Poso

In [46]:
df_excel = pd.read_excel(r"C:\Users\Kuneko\Downloads\Documents\Electronic_Product.xlsx" ,sheet_name='Electronics General')
df_excel

,Product Name,Category,Brand,Model,Release Year,Power (W),Price (USD),Stock
0,LG Smart TV 55 Inch,TV,LG,OLED55C3,2021,150,1299,8
1,Sony Home Theater,Audio,Sony,HT-Z9F,2020,300,799,12
2,Bose SoundLink,Speaker,Bose,SL-MICRO,2021,20,699,15
3,Dyson V15 Vacuum,Vacuum Cleaner,Dyson,V15-DETECT,2022,350,699,25
4,KitchenAid Mixer,Kitchen Appliance,KitchenAid,KSM150P,2022,250,399,15
5,Philips Air Fryer,Kitchen Appliance,Philips,HD9252/90,2021,1500,199,20
6,Dell XPS 13,Laptop,Dell,9310,2022,65,1299,5
7,HP Spectre x360,Laptop,HP,13-bd0055,2021,65,1199,10
8,Canon EOS 90D,Camera,Canon,90D-AP,2020,15,999,10
9,Nikon Z50,Camera,Nikon,Z50-20,2021,10,849,10
10,Samsung Galaxy Tab S8,Tablet,Samsung,SM-X800,2022,45,1099,6
11,Microsoft Surface Pro 8,Tablet,Microsoft,8PX-00001,2021,50,1099,7
12,Logitech MX Master 3,Accessory,Logitech,MX-M3,2022,5,229,20
13,Apple Magic Keyboard,Accessory,Apple,MK-MK2,2022,5,129,25
14,Roku Streaming Stick 4K,Streaming Device,Roku,3921RW,2021,8,49,50
15,JBL Charge 5,Speaker,JBL,CHARGE5,2022,30,199,40
16,Nest Thermostat,Home Automation,Google,T3007ES,2021,5,229,18
17,Ring Video Doorbell 4,Home Security,Amazon,8SP1S9-0,2021,10,229,20
18,Fitbit Versa 3,Wearable,Fitbit,FB511BKE,2021,5,229,25
19,Dyson Pure Cool Link,Air Purifier,Dyson,TP04,2019,40,599,10